@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #ffce51, #ff7253, #fd5754);
}

#form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    padding: 60px;
    width: 450px;
    align-items: center;
    color: #2b344b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#form h1 {
    color: #000;
    text-align: center;
}

input[type="text"], textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    font-size: 15px;
}

.btn {
    margin: 30px 0px 20px 0px;
    width: 100%;
    text-align: center;
}

.btn button {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #ffce51, #ff7253, #fd5754);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: #ffff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.btn button:hover {
    background: linear-gradient(-45deg, #eec04c, #ec7054, #ee5a57);
}

.links {
    max-width: 800px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.links a {
    color: rgb(194, 99, 10);
    text-decoration: none;
}

.links a:hover {
    color: rgb(8, 91, 201);
}
