@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #ffce51, #ff7253, #fd5754);
}

#form h1 {
    color: #ffff;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

#form a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    margin: 30px 0px 20px 0px;
    width: 100%;
    text-align: center;
}

.btn button {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #ffce51, #ff7253, #fd5754);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: #ffff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.btn button:hover {
    background: linear-gradient(-45deg, #eec04c, #ec7054, #ee5a57);
}
