@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ffce51, #ff7253, #fd5754);
}

.template-fundo {
    background-color: #fcfcfc;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.lista {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
}

.lista ul {
    list-style-type: none;
    padding: 0;
    
}

.lista li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px; 
}

.lista h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.lista p {
    margin: 0;
}

.lista ul {
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 20px;
}

.lista h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

button {
    background-color: #ff5555;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #cc0000;
}

.links {
    max-width: 800px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.links a {
    color: rgb(194, 99, 10);
    text-decoration: none; 
    transition: color 0.3s; 
    
}

.links a:hover {
    color: rgb(8, 91, 201);
}
