@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #ffce51, #ff7253, #fd5754);
}

#form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    padding: 60px;
    width: 450px;
    align-items: center;
    color: #2b344b;
}

#form h1{
    text-align: center;
    font-size: 1.8em;
    margin: 0px 0px 20px 0px;
}

#form form{
    text-align: center;
}

input {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    border-radius: 22px;
    border: 1px #6f7e8a solid;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    font-size: 20px;
    
}

.btn {
    margin: 30px 0px 20px 0px;
    width: 100%;
    text-align: center;
}

.btn button {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #ffce51, #ff7253, #fd5754);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: #ffff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.btn button:hover {
    background: linear-gradient(-45deg, #eec04c, #ec7054, #ee5a57);
}

.links {
    max-width: 800px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.links a {
    color: rgb(194, 99, 10);
    text-decoration: none; 
    transition: color 0.3s; 
    
}

.links a:hover {
    color: rgb(8, 91, 201);
}


